* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f79c42, #f7d142);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ff7f50;
}

.game-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
}

button:hover {
    background-color: #45a049;
}

#feedback {
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
    transition: color 0.3s ease-in-out;
}

#attempts {
    font-size: 16px;
    color: #555;
}

.correct {
    color: #28a745;
}

.too-high {
    color: #dc3545;
}

.too-low {
    color: #ffc107;
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    input[type="number"], button {
        font-size: 14px;
        padding: 10px;
    }
}
